@charset "UTF-8";

/* Typical Device Breakpoints
------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px) and (max-width: 992px) {
  body { /* TABLET */
    background-image: linear-gradient(to top, #ffffff, #414141, #000000);
  }

  #login {
    width: 80vw;
    height: 280px;
  }

  #imagem {
    float: left;
    width: 30%;
    height: 100%;
  }

  #formulario {
    float: right;
    width: 70%;
  }
}

@media screen and (min-width: 992px) { /* DESKTOP */
  body {
    background-image: linear-gradient(to top, #ffffff, #414141, #000000);
  }

  #login {
    width: 950px;
    height: 350px;
  }

  #imagem {
    float: right;
    width: 50%;
    height: 100%;
  }

  #formulario {
    float: left;
    width: 50%;
  }

  #formulario h1 {
    font-size: 2em;
  }

  #formulario p {
    font-size: 1em;
    margin: 20px 0px;
  }
}
